<div class="background-image" [formGroup]="user">
  <div class="login-container">
    <div class="logo-and-title">
        <img src="assets/logo/auto_car-03-removebg-preview.png" class="logo">
        <span class="title">Moving Dream</span>
    </div>
    <div class="sign-in-or-sign-up">
      <span class="sign-in-text">Sign In</span>

      <div class="user-type">
        <div *ngFor="let type of userTypes" class="row">
          <div class="col-1">
            <label (click)="selectUserType(type)" class="radio-button">
              <input [checked]="type.checked" type="radio" class="radio-button">
              <span></span>
            </label>
          </div>
          <div class="col-2 user-type-name">
            <span>{{type.typeName}}</span>
          </div>
        </div>
      </div>
      <input class="input-large" type="text" formControlName="userName" placeholder="Enter username">
      <input class="input-large" id="password" type="password" formControlName="password" placeholder="Enter Password"
             (keyup.enter)="loginAsUser()" showHideInput>
      <span class="error">{{error}}</span>
      <span class="sign-up-text">
        Don't have any account? <span class="clickable" (click)="createNewUser()">Create new account</span>
      </span>
      <button class="button-large continue-button" (click)="loginAsUser()">
        Continue
      </button>

      <button class="button-large guest-button" (click)="loginAsGuest()">
        Continue as a <span class="guest-text">guest</span>
      </button>
    </div>
  </div>
</div>


