@import "../../../styles";

.container {
  position: absolute;
  background-color: $color-lime-yellow;
  height: 70%;
  width: 30%;
  margin: 6% 35%;
  padding: 1%;

  .title {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
  }

  .user-info {
    padding: 5% 0%;
    display: grid;
    justify-content: center;

    .action-button {
      padding-top: 10px;
    }
  }
}
