<div class="container" [formGroup]="user">
  <span class="title">Create Employee Profile</span>
  <div class="user-info">
    <div>
      <label>User Name:</label><br>
      <input class="input-large" type="text" formControlName="userName" placeholder="User name">
    </div>
    <div>
      <label>First Name:</label><br>
      <input class="input-large" type="text" formControlName="firstName" placeholder="First name">
    </div>
    <div>
      <label>Last Name:</label><br>
      <input class="input-large" type="text" formControlName="lastName" placeholder="Last name">
    </div>
    <div>
      <label>Email:</label><br>
      <input class="input-large" type="text" formControlName="email" placeholder="user@example.com">
    </div>
    <div>
      <label>Password:</label><br>
      <input class="input-large" id="password" type="password" formControlName="password" placeholder="Enter password">
    </div>
    <span class="error">{{error}}</span>
    <div>
      <label>Confirm Password:</label><br>
      <input class="input-large" id="confirmPassword" type="password" formControlName="confirmPassword" placeholder="Confirm Password">
    </div>
    <div class="action-button row">
      <div class="col-6">
        <button class="button-small back-button" (click)="authService.redirect('login')">Back</button>
      </div>
      <div class="col-6">
        <button class="button-small sign-up-button" (click)="signUp()">Sign Up</button>
      </div>
    </div>
  </div>
</div>
