@import "../../../styles";

.container {
  position: absolute;
  background-color: $color-lime-yellow;
  height: 75%;
  width: 40%;
  margin: 5% 30%;
  padding: 1%;

  .title {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
  }

  .user-info {
    padding: 5%;
  }
}
