<nav class="header" *ngIf="!hideNavBar">
  <div class="logo">
    <img src="../../assets/logo/auto_car-03-removebg-preview.png" class="logo-icon" (click)="goToHome()">
  </div>
  <div class="title">Moving Dream</div>
  <div class="contact">
    <img src="../../assets/icon/header/contact-us.svg" class="contact-icon">
  </div>
  <div class="line"></div>
  <div *ngIf="user == ''" (click)="goToLogin()" class="pointer">Sign In</div>
  <div *ngIf="user != ''" class="user pointer">
    <span data-toggle="dropdown" (click)="logOut()">{{user}}</span>
  </div>
</nav>

<div class="dropdown-menu">
  <span class="pointer" (click)="logOut()">Sign Up</span>
</div>
