.button-small {
  height: 5vh;
  width: 5vw;
  border: 1px solid;
  border-radius: 5px;
}

.button-medium {

}

.button-large {
  width: 90%;
  height: 10%;
  border: 2px solid;
  border-radius: 5px;
}
