@import "../abstract/variable";

.input-small {

}

.input-medium {
  width: 70%;
  border-radius: 3px;
  border: 1px solid;
  padding: 5px;
  margin: 5px 0px;
}

.input-large {
  width: 100%;
  border-radius: 3px;
  border: 1px solid;
  padding: 8px;
  margin: 5px 0px;
}
