$color-secondary: #9B9B9B;
$color-tertiary: #DFE0EB;

$color-white: #FFFFFF;
$color-black: #000000;
$color-brown: #964B00;

$color-light-blue: #4285F4;
$color-lime-red: #FFECEB;
$color-lightsalmon: #FFA07A;
$color-lime-yellow: #FFF59D;
$color-chili-red: #BA4A00;

$color-background: #F7F8FC;
$color-nav-bar: #ECF3FE;

$font-text: "Source Sans Pro";
